alabaster==0.7.13
babel==2.16.0
black==24.8.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
docutils==0.20.1
flake8==7.1.1
idna==3.10
imagesize==1.4.1
importlib_metadata==8.5.0
isort==6.0.1
Jinja2==3.1.5
livereload==2.7.1
MarkupSafe==2.1.5
mccabe==0.7.0
mypy-extensions==1.0.0
Open-Tamil==1.1
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
pylint==3.3.8
pytz==2024.2
requests==2.32.3
snowballstemmer==2.2.0
Sphinx==7.1.2
sphinx-autobuild==2021.3.14
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tomli==2.2.1
tomlkit==0.13.3
tornado==6.4.2
typing_extensions==4.12.2
urllib3==2.2.3
zipp==3.20.2
